* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* -------------------------------------------slider-------------------------- */
.slider {
  position: relative;
  margin-top: 7.5rem;
  /* border: 4px solid red; */
  height: 50rem;
}

.slider div {
  height: 100%;
  width: 100%;
}

.slider div img {
  height: 100%;
  width: 100%;
  filter: brightness(0.8);
}

.slick-prev {
  position: absolute;
  left: 6rem;
  top: 50%;
  font-size: 3rem;
  font-weight: 900;
  background-color: rgba(0,0,0,0.5);
  /* background-color: rgba(0,0,0,0.5); */
  /* border: 1px solid red; */
  border: none;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  color: white;
  z-index: 111;
  cursor: pointer;
}

.slick-next {
  position: absolute;
  right: 6rem;
  top: 50%;
  font-size: 3rem;
  font-weight: 900;
  background-color: rgba(0,0,0,0.5);
  /* background-color: rgba(0,0,0,0.5); */
  /* border: 1px solid red; */
  border: none;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  color: white;
  z-index: 111;
  cursor: pointer;
}
.slick-prev1 {
  position: absolute;
  left: 0rem;
  top: 40%;
  font-size: 2.5rem;
  font-weight: 900;
  background-color: rgba(0,0,0,0.5);
  border: none;
  background-color: transparent;
  color: black;
  z-index: 111;
  cursor: pointer;
}

.slick-next1 {
  position: absolute;
  right: 0rem;
  top: 40%;
  font-size: 2.5rem;
  font-weight: 900;
  background-color: rgba(0,0,0,0.5);
  border: none;
  background-color: transparent;
  color: black;
  z-index: 111;
  cursor: pointer;
}

/* ------------------------------------------------Customer------------------------------------ */
.customer {
  padding: 8rem 1rem 8rem 1rem;
  /* border: 1px solid blue; */
  display: flex;
}

.customer div {
  width: 25%;
  padding: 1rem;
}

.customer div i {
  font-size: 5rem;
  margin-left: 40%;
}

.customer div h2 {
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem;
  text-align: center;
}

.customer div p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 500;
  text-align: center;
}

/* -------------------------------------Men's Collection-------------------------- */

.mens {
  /* border: 1px solid blue; */
  height: 50rem;
  margin-top: 2rem;
  position: relative;
}

.collection {
  position: absolute;
  /* border: 1px solid red; */
  width: 30%;
  left: 2%;
  height: 100%;
  /* top: 10%; */
}

.collection:hover .div1{
  position: absolute;
  display: none;
  top: 0;
  left: 50%;
  border: 2px solid rgba(255, 255, 255,0.8);
  width: 0;
  height: 100%;
  animation: transition 1s 0s linear;
  background: rgba(255, 255,255,0.2);
}
@keyframes transition{
  0%{
    display: block;
    width: 00%;
    left: 50%;
  }
  100%{
    display: none;
    width: 100%;
    left: 0%;
  }
}
.collection:hover .div2{
  position: absolute;
  display: none;
  /* border: 2px solid red; */
  top: 50%;
  left: 0;
  border: 2px solid rgba(255, 255, 255,0.8);
  width: 100%;
  height:0;
  animation: transition2 1s 0s linear;
  background: rgba(255, 255,255,0.2);
}
@keyframes transition2{
  0%{
    display: block;
    height: 0%;
    top: 50%;
  }
  100%{
    display: none;
    height: 100%;
    top: 0%;
  }
}

.collection img {
  width: 100%;
  height: 100%;
}

.heading {
  position: absolute;
  right: 0;
  width: 60%;
}

.heading h1 {
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
}

.heading p {
  text-align: center;
  font-size: 1.8rem;
}

.products {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65%;
  height: 70%;
  /* border: 1px solid red; */
}

.imgpart img {
  filter: brightness(0.8);
}

.imgpart img:hover {
  filter: brightness(1);
}

.productbox {
  /* border: 1px solid red; */
  position: relative;
  height: 100%;
}

.imgpart {
  height: 25rem;
  cursor: pointer;
  /* border: 1px solid green; */
}

.imgpart img {
  height: 100%;

}

.details {
  position: relative;
  height: 10rem;
  cursor: pointer;
}
.details label{
  cursor: pointer;
}

.buybox {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2.3rem;
  height: 5rem;
  background-color: white;
  bottom: -5rem;
  opacity: 0;
  transition: 0.4s;
}

.buybox div {
  cursor: pointer;
}

.box:hover .buybox {
  bottom: 0rem;
  opacity: 1;
}

.box div i:hover {
  scale: 1.3;
  transition: 0.3s;
}

.details label {
  font-size: 1.8rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.details .fa-star {
  font-size: 1.5rem;
}

.details span {
  font-size: 1.8rem;
}


/* --------------------------------------------------------feamle--------------------------------------------- */
.female {
  /* border: 1px solid blue; */
  margin-top: 15rem;
  height: 50rem;
  position: relative;
}

.fcollection {
  position: absolute;
  /* border: 1px solid red; */
  width: 30%;
  right: 2%;
  height: 100%;
}
.fcollection:hover .div1{
  position: absolute;
  display: none;
  top: 0;
  left: 50%;
  border: 2px solid rgba(255, 255, 255,0.8);
  width: 0;
  height: 100%;
  animation: transition 1s 0s linear;
  background: rgba(255, 255,255,0.2);
}
@keyframes transition{
  0%{
    display: block;
    width: 00%;
    left: 50%;
  }
  100%{
    display: none;
    width: 100%;
    left: 0%;
  }
}
.fcollection:hover .div2{
  position: absolute;
  display: none;
  /* border: 2px solid red; */
  top: 50%;
  left: 0;
  border: 2px solid rgba(255, 255, 255,0.8);
  width: 100%;
  height:0;
  animation: transition2 1s 0s linear;
  background: rgba(255, 255,255,0.2);
}
@keyframes transition2{
  0%{
    display: block;
    height: 0%;
    top: 50%;
  }
  100%{
    display: none;
    height: 100%;
    top: 0%;
  }
}

.fcollection img {
  width: 100%;
  height: 100%;
}

.fheading {
  position: absolute;
  left: 0;
  width: 60%;
}

.fheading h1 {
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
}

.fheading p {
  text-align: center;
  font-size: 1.8rem;
}

.fproducts {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 65%;
  height: 70%;
  /* border: 1px solid red; */
}

.fimgpart {
  filter: brightness(0.8);
}

.fimgpart:hover {
  filter: brightness(1);
}

.fproductbox {
  /* border: 1px solid red; */
  position: relative;
  height: 100%;
}

.fimgpart {
  height: 25rem;
  /* border: 1px solid green; */
}

.fimgpart img {
  height: 100%;
}

.fdetails {
  position: relative;
  height: 10rem;
}

.fdetails label {
  font-size: 1.8rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  cursor: pointer;
}

.fdetails .fa-star {
  font-size: 1.5rem;
}

.fdetails span {
  font-size: 1.8rem;
}

.fbuybox {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2.3rem;
  height: 5rem;
  background-color: white;
  bottom: -5rem;
  opacity: 0;
  transition: 0.4s;
}

.fbuybox div {
  cursor: pointer;
}

.fbox:hover .fbuybox {
  bottom: 0rem;
  opacity: 1;
}

.fbox div i:hover {
  scale: 1.3;
  transition: 0.3s;
}

/* --------------------------------------------Top Slaes------------------------------- */

.top {
  margin-top: 8rem;
  /* border: 2px solid red; */
  padding: 1rem;
  background-color: whitesmoke;
}

.top>h1 {
  font-size: 3.5rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 1rem 0 0 0;
}

.top>h6 {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  text-align: center;
}

.timgpart img {
  filter: brightness(0.8);
}

.timgpart img:hover {
  filter: brightness(1);
}

.tproductbox {
  /* border: 1px solid red; */
  position: relative;
  margin-top: 3rem;
  height: 100%;
}

.timgpart {
  height: 25rem;
  /* border: 1px solid green; */
}

.timgpart img {
  height: 100%;

}

.tdetails {
  position: relative;
  height: 10rem;
  cursor: pointer;
}
.tdetails label{
  cursor: pointer;
}

.tbuybox {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2.3rem;
  font-weight: 700;
  height: 5rem;
  background-color: whitesmoke;
  bottom: -5rem;
  opacity: 0;
  transition: 0.4s;
}

.tbuybox div {
  cursor: pointer;
}

.tbox:hover .tbuybox {
  bottom: 0rem;
  opacity: 1;
}

.tbox div i:hover {
  scale: 1.3;
  transition: 0.3s;
}

.tdetails label {
  font-size: 1.8rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.tdetails .fa-star {
  font-size: 1.5rem;
}

.tdetails span {
  font-size: 1.8rem;
}



/* ---------------------------------Get in Touch--------------------------------------------- */

.contact {
  /* border: 1px solid red; */
  width: 95%;
  padding-top: 1.5rem;
  margin: 5rem auto;
  min-height: 45rem;
  display: flex;
  box-shadow: 2px 2px 5px black;
}

.contact table {

  margin-left: 5rem;
  width: 40%;
  /* border: 1px solid green; */
}

.contact td {
  padding-bottom: 1rem;
  height: 6rem;
  padding-left: 2rem;
  position: relative;
}

.contact td input {
  height: 80%;
  border: none;
  border: 2px solid grey;
  background-color:transparent;
  padding-left: 3.5rem;
  border-radius: 0.5rem;
  width: 80%;
  outline: none;
  text-transform: capitalize;
}

.contact td textarea {
  width: 80%;
  padding: 2rem;
  resize: none;
  background-color: transparent;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.contact td button {
  padding: 1rem;
  margin-left: 30%;
  color: black;
  font-weight: bold;
  background-color: rgb(81, 255, 0);
  font-size: 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}
.contact table label {
  position: absolute;
  font-size: 1.5rem;
  top: 2rem;
  padding: 0.5rem;
  left: 4.5rem;
  background-color: white;
  /* display: none; */
  transition: 0.5s;
  z-index: -1;
}

.i1 {
  position: absolute;
  font-size: 1.5rem;
  left: 3rem;
  top: 2.5rem;
}

.address {
  /* border: 2px solid green; */
  width: 50%;
}

.address img {
  width: 100%;
  height: 80%;

}

caption {
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: gold;
  width: 85%;
  font-weight: 900;
  /* border: 1px solid red; */
}



/* ----------------------------------Footer------------------------------------- */

footer {
  /* background-color: rgb(222, 222, 255); */
  position: relative;
  background-color: rgb(58, 58, 139);
  color: white;
  margin-top: 10rem;
  min-height: 35rem;
  position: relative;
  font-weight: 800;
  /* border: 1px solid black; */

}

.footer-up {
  position: absolute;
  width: 90%;
  top: -5rem;
  left: 5%;
  height: 13rem;
  font-size: 2rem;
  /* border: 1px solid red; */
  box-shadow: 2px 2px 5px black;
  display: flex;
  /* background-color: rgb(24, 207, 207); */
  background-color: rgb(238, 14, 59);
  border-radius: 2rem 2rem 0 0;
  align-items: center;
  justify-content: space-between;
}

.footer-up div {
  width: 25%;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-right: 2px solid white;
}

.footer-up div i {
  font-size: 2rem;
}

.flogo {
  position: absolute;
  border-right: 1px solid black;
  top: 35%;
  height: 50%;
  width: 20%;
  left: 5%;
}
.flogo div{
  text-align: center;
  /* border: 1px solid red; */
}

.flogo div label {
  /* padding-left: 20%; */
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  letter-spacing: 0.2px;
}

.social {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2.5rem;
}

.social i {
  cursor: pointer;
  transition: 0.5s;
}

.social i:hover {
  scale: 1.5;
}


.links {
  border-right: 1px solid black;
  position: absolute;
  top: 35%;
  left: 25%;
  height: 50%;
  width: 30%;
}

.links i {
  color: black;
}

.links h2 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  color: gold;
}

.links ul {
  text-align: center;
  padding-left: 4rem;
  margin-top: 1rem;
  line-height: 2.5rem;
  color: white;
  font-size: 1.8rem;
}

.map {
  position: absolute;
  right: 5%;
  top: 35%;
  /* border: 1px solid red; */
  height: 50%;
  width: 35%;
}


/* -------------------------Media Query ------------------------------------------- */


@media(max-width:950px) {
  html {
    font-size: 45% !important;
  }
}

@media(max-width:750px) {
  html {
    font-size: 35% !important;
  }
}

@media(max-width:650px) {
  .slider {
    height: 40rem;
  }

  .customer {
    flex-wrap: wrap;
  }

  .customer div {
    width: 50%;
    margin-top: 2rem;
  }

  .mens {
    height: 40rem;
  }

  .female {
    height: 40rem;
  }

  .contact {
    flex-wrap: wrap;
  }

  .contact div {
    width: 100%;
  }

  .contact table {
    width: 100%;
  }
 
}